.solid-progress {
  /* Default Rainbow Color */
  /* Default Rainbow Color */
  background: #a307ba;
  background: #27c4f5 -webkit-gradient(linear, left top, right top, from(#27c4f5), color-stop(#a307ba), color-stop(#fd8d32), color-stop(#70c050), to(#27c4f5));
  background: #27c4f5 -webkit-linear-gradient(left, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
  background: #27c4f5
    linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
  -webkit-animation: 2s linear infinite rainbow, 0.5s ease-out enter;
  animation: 2s linear infinite rainbow, 0.5s ease-out enter;
  /* Default Rainbow Color */
  /* Default Rainbow Color */
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  -webkit-transform-origin: left;
  transform-origin: left;
  background-size: 500%;
  z-index: 999999;
  position: fixed;
  display: block;
  width: 100%;
  opacity: 1;
  left: 0;
  top: 0;
}
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: 125% 0;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: 125% 0;
  }
}
@-webkit-keyframes enter {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes enter {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
